# Required
API_ID=your_telegram_api_id
API_HASH=your_telegram_api_hash
BOT_TOKEN=your_bot_token
OWNER_ID=your_telegram_user_id
MONGO_URL=your_mongodb_connection_string

# Optional
LOG_CHANNEL=your_log_channel_id
MAIN_CHANNEL=your_main_channel_id
TARGET_CHAT_ID=your_target_chat_id
BOT_USERNAME=your_bot_username
CAPTION={FORMAT}
FORMAT=[S{season}-E{episode}] {title} [{quality}] [{audio}]
